{% extends "layout.html" %}
{% include "header.html" %}
{% block body %}
<body>
    <p class="hello">get privatekey wif</p>
    <form action="/mnemonic" method="POST">
        <input type="text" name="mnemonic" placeholder="Your mnemonic">
        <input type="submit" value="post_mnemonic">
    </form>
    <p>privatekey_wif</p>
    <p>{{privatekey_wif}}</p>
    <p>address</p>
    <p>
        <a href="https://test.whatsonchain.com/address/{{address}}" target="_blank">{{address}}</a>
    </p>
    <p>balance</p>
    <p>{{balance_satoshi}} satoshis = {{balance_bsv}} tBSV</p>
</body>
{% endblock %}